<app-header></app-header>

<main>
  <ul id="users">
        <!-- <li *ngFor= "let user of users">
        <app-user
          [user]="item"
          (select)="onSelectUser($event)"
        />
        need to import NgFor from angular/common
      </li>-->
    @for (item of users; track item.id) {
      <li>
        <app-user
          [userItem]="item"
          [selected]="item.id === selectedUserId"
          (select)="onSelectUser($event)"
        />
        <!-- self closing tag -->
      </li>
    }
  </ul>

  @if (selectedUser) {
    <app-tasks [name]="selectedUser.name" [userId]="selectedUser.id"></app-tasks>
  } @else {
    <p id="fallback">Select a user to see their tasks!</p>
  }
