<app-header></app-header>

<main>
  <ul id="users">
    <li>
      <app-user
        [user]="users[0]"
        (select)="onSelectUser($event)"
      />
      <!-- self closing tag -->
    </li>
    <li>
      <app-user
        [user]="users[1]"
        (select)="onSelectUser($event)"
      />
      <!-- self closing tag -->
    </li>
    <li>
      <app-user
        [user]="users[2]"
        (select)="onSelectUser($event)"
      />
      <!-- self closing tag -->
    </li>
    <li>
      <app-user
        [user]="users[3]"
        (select)="onSelectUser($event)"
      />
      <!-- self closing tag -->
    </li>
  </ul>

  <app-tasks [name]="selectedUser.name"></app-tasks>
</main>
